body {
    font-family: 'Arial', sans-serif;
    background-color: #dcb7d4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(50, 1, 28, 0.277);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(211, 197, 197, 0.532);
    padding: 20px;
    width: 400px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
input[type="time"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f9f9f9;
}

.checkbox {
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}